.navbar{
			background: #fff;
			margin: 0px 0px 0px 0px;
			border-bottom: 3px solid #0a3254;
			padding: 8px 8px;
			height: 60px;
		}

		.navbar-brand{
			float: left;
		}

		.nav-item{
			float: right;
			margin: 0;
		}

		.logo{
			height: 40px;
			margin: 5px 10px;
		}

		.nav-link {
			font-size: 16px;
			font-weight: bold;
			color: #fff;
			text-decoration: none;
		}

		.dropdown-menu a{
			font-size: 16px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
		}

		.navbar-toggler {
			margin-bottom: 15px;
			border-color: #0a3254;
			border-width: 1px;
			z-index: 9;
		}
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}

		#navbarSupportedContent ul li{
			border-left: 1px solid #fff;
			list-style-type: none;
			padding: 10px 25px;
			/*text-align: center;*/
			background-color: #0a3254;
			cursor: pointer;
			height: 57px;
			margin: 0px;
		}